.header {
  position: fixed;
  top: 0;
  z-index: 1;
  max-width: 800px;
  margin: auto;
  right: 50%;
  transform: translateX(50%);
}

.landing-page {
  background-color: #def1e7;
}

.landing-page-panel {
  position: relative;
  text-align: center;
}

.landing-page-panel__content {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 800px;
}

.landing-page-panel:nth-child(odd) {
  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.phone-image {
  background-image: url('../../assets/phone.png');
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
}

.footer__content {
  margin: 0 auto;
  max-width: 800px;
}

a {
  color: #5CC18D;
  text-decoration-skip: ink;
}

a:focus,
button:focus {
  outline: 3px solid #5CC18D;
  outline-offset: 2px;
}
