.landing-page {
  background-color: #def1e7;
}

.landing-page-panel {
  position: relative;
  text-align: center;
}

.landing-page-panel__content {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 800px;
}

.landing-page-panel:nth-child(even) {
  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.phone-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 50%;
}

.phone-image.phone-image-ok {
  background-image: url('../../assets/phone.png');
}

.phone-image.phone-image-warning {
  background-image: url('../../assets/phone.png');
}
