.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 10;
}

.modal .modal__card {
  border-radius: 5px;
  padding: 30px;
  background-color: #FFFFFF;
}

.modal .modal__card h3 {
  text-align: center;
}

.modal .modal__card .button {
  margin-top: 20px;
}
