html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}

figure {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: 'Neuton', serif;
}


a {
  color: #5CC18D;
  text-decoration-skip: ink;
}

a:focus,
button:focus {
  outline: 3px solid #5CC18D;
  outline-offset: 2px;
}

@media (max-width: 599px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1599px) {
  html {
    font-size: 18px;
  }
}
